* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff
}

#root {
    displaY:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}

.gridContainer {
    display: grid;
    grid-template-columns: calc(100% /3) calc(100% /3)  calc(100% /3)  ; 
    grid-template-rows: calc(100% /3) calc(100% /3)  calc(100% /3);
    width: 400px;
    height: 400px;

    padding: 20px;

}

#cell1 {
    border-style: none none solid none;
}
#cell2 {
    border-style: none none solid solid;
}
#cell3 {
    border-style: none none solid solid;
}
#cell4 {
    border-style: none none none none;
}
#cell5 {
    border-style: none none none solid;
}
#cell6 {
    border-style: none none none solid;
}

#cell7 { 
    border-style: solid none none none;
}

#cell8{
    border-style: solid none none solid;
}

#cell9{
    border-style: solid none none solid;
}

.tictacCell {

    display : flex;
    align-items: center;
    justify-content: center ;
    border: 5px solid rgb(31, 43, 153);
    font-size:80px
}